img{
  align-items: center;
}

.pic{
  margin-left: 300px;
}

body{
  color: #3333ff;
}

.foot{
  background-color: cyan;
  color: white;
  align-content: center;
  align-items: center;
  align: center;
  text-align: center;

}
